{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    [
      "@semantic-release/release-notes-generator",
        {
        "preset": "conventionalcommits",
        "presetConfig": {
          "types": [
            { "type": "feat", "section": "Added" },
            { "type": "fix", "section": "Fixed" },
            { "type": "docs", "section": "Documentation", "hidden": true },
            { "type": "style", "section": "Styles", "hidden": true },
            { "type": "refactor", "section": "Refactored", "hidden": true },
            { "type": "perf", "section": "Performance", "hidden": true },
            { "type": "test", "section": "Tests", "hidden": true },
            { "type": "chore", "section": "Chore", "hidden": true },
            { "type": "ci", "section": "Chore", "hidden": true },
            { "type": "breaking", "section": "Breaking changes" }
          ]
        }
      }
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogTitle": "# Serve Secret Changelog"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "./_ci/update-composer-version.sh ${nextRelease.version} && node ./_ci/update-changelog.js"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "composer.json",
          "CHANGELOG.md"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\\n\\n${nextRelease.notes}"
      }
    ],
    [
      "@semantic-release/github"
    ]
  ]
}
